.LoadingAnim {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#randomLoadingMessages {
  margin-block-start: 0.1em;
  font-size: 0.85rem;
  max-width: 80vw;
  text-align: center;
}

::-webkit-scrollbar{
    display: none;
}

#loadingHeadline {
  margin-block-end: 0.5em;
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  #barLoader {
    width: 70vw !important;
    height: 4px !important;
  }
  #randomLoadingMessages {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  #barLoader {
    width: 40vw !important;
    height: 4px !important;
  }
}
