@media (prefers-color-scheme: dark) {
    html{
        background-color: #303030 !important;
    }
    #root{
        background-color: #303030;
    }
    .box{
        color: white !important;
        background-color: #383838 !important;
    }
    .LoadingAnim{
        background-color: #303030;
        color: white;
    }
}

::-webkit-scrollbar{
    display: none;
}

.hero.is-fullheight {
    min-height: calc(100vh - var(--vh-check, 0px)) !important;
  }