.box{
    color: white !important;
    background-color: #303030 !important;
}

.LoadingAnim{
    background-color: #303030;
    color: white;
}

::-webkit-scrollbar{
    display: none;
}

.is-fullheight {
    min-height: calc(100vh - var(--vh-check)) !important;
  }